<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdozh2gBmJz14NfO_sKECGwef4i5CZE4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>887837613876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotifications</string>
	<key>PROJECT_ID</key>
	<string>pushnotifications-c2c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotifications-c2c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887837613876:ios:547bbd2a65e59e198fcf61</string>
</dict>
</plist>